BOT_TOKEN=your_bot_token_from_botfather
GROUP_ID=-100xxxxxxxxxx
TOPIC_ID=
WEBHOOK_URL=https://your-app-name.onrender.com
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/menfess
MAX_MEDIA_PER_DAY=3
ADMIN_IDS=123456789,987654321
PORT=3000
